input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

input:checked + .switch {
    background-color: rgba(17, 24, 39, .9);
}

input:checked + .switch > .toggle {
    inset: 2px 1px 2px auto;
}

.switch {
    background-color: rgb(206, 197, 197);
    border-radius: 15px;
    width: 32px;
    height: 20px;
    position: relative;
    margin-right: .5rem;

    .toggle {
        position: absolute;
        inset: 2px auto 2px 1px;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .3);
        border-radius: 50%;
    }
}

