@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Black.woff2') format('woff2'),
         url('../assets/fonts/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Medium.woff2') format('woff2'),
         url('../assets/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}

//*** variables ***//

  //*** colors ***//
  $color-dark: #1d2e38;
  $color-light: #2d4156;
  $gray: #eaeff2;

//*** breakpoints ***//
  $medium: 40rem;
  $large: 64rem;


//*** Resets ***//
html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: rgba(17, 24, 39, .9);
    font-family: inter;
}

  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  a {
      text-decoration: none;
      font-family: inter;
      font-size: .9rem;
      font-weight: 500;
      text-transform: capitalize;
      color: rgba(255, 255, 255, .95);
  }

  #container {
    max-width: 100%;
  }

  img {
      max-width: 100%;
  }

//*** Utilities ***//

.button {
    background-color: rgb(17, 24, 39);
    padding: 1em 1.5em;
    border-radius: 15px;

    &:hover {
        background-color: rgba(17, 24, 39, .3);
    }
}

.underline {
    position: relative;
    padding-block: .3rem;
}

.underline::after {
    content: '';
    width: 100%;
    height: 9%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:rgba(255, 255, 255, .3);
}

.body-text {
    color: rgba(255, 255, 255, .8);
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 500;
}

.capitalise {
    text-transform: capitalize;
}

  //*** mixins ***//
    
  @mixin small-screens {
        @media (max-width: $medium) {
            @content;
        }
    }

    @mixin medium-screens-only {
        @media (min-width: $medium) AND (max-width: $large) {
            @content;
        }
    }

    @mixin medium-and-above {
        @media (min-width: $medium) {
            @content;
        }
    }

    @mixin large-screens {
        @media (min-width: $large) {
            @content;
        }
    }

//*** Typography ***//
h1 {
    color: #fff;
    font-size: 2.9rem;
    text-align: center;
    font-weight: 900;
    line-height: 1.3;
    max-width: 50rem;
    margin-bottom: 0.5rem;

    @include medium-and-above {
        font-size: 3.75rem;
    }
}


//*** Layout ***//

main {
    padding-top: 1.6rem;

    & > * {
        padding-inline: 10%;
   
        @media (min-width: $large) {
            padding-inline: 9vw;
        }
    }
}

header {
    max-width: calc(min(1320px, 100%));
    margin: auto;
}

#primary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1.2rem;

    @include large-screens {
        margin-inline: 4rem;
    }

    & > li ul {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .hide {
        display: none;

        @include medium-and-above {
            display: inline;
        }
    }

    .button {
        padding: .8em 1.5em;
        border-radius: 20px;
    }

    #logo {
        margin-right: 1rem;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
        font-size: 1.25rem;
        text-align: center;
        margin-top: 3.5rem;

        @include small-screens {
            max-width: 50vw;
        }
    }

    .s-body-text {
        color: #fff;
        font-size: .9em;
        text-align: center;
        margin-block: 1.5rem 4rem;
        
        @include small-screens {
            max-width: 50vw;
        }
    }

    .hero-image {
        max-width: calc(min(1024px, 90%));
        border-radius: 15px 15px 0 0;
    }
}

.sections {
    display: flex;
    align-items: center;
}

.share-post {
    background-color: #fff;
}

.set-schedule {
    background-color: rgba(255, 255, 255, .1);
}

.snooze-schedule {
    background-color: #fff;
}